# General code

In [4]:
import pickle
file = open("./dati/10-47-45.yd", "rb")
final_data = pickle.load(file)
file.close()

data = []
for i in range(len(final_data)):
    row = []
    for j in range(len(final_data[i][0])):
        if 12 > final_data[i][1][j] > -12:
            row.append([final_data[i][0][j], final_data[i][1][j]])
            
    # filter distance 0
    row = list(filter(lambda xa: xa[1] != 0.0, row))
    data.append(row)

In [7]:
import pickle
import os
from scipy.io import savemat

index = 0

basepath = "./dati/"
for filename in os.listdir(basepath):
    print(filename)
    file = open(basepath+filename, "rb")
    final_data = pickle.load(file)
    file.close()
    
    data = []
    for i in range(len(final_data)):
        row = []
        for j in range(len(final_data[i][0])):
            if 12 > final_data[i][1][j] > -12:
                row.append([final_data[i][0][j], final_data[i][1][j]])
        # filter distance 0
        row = list(filter(lambda xa: xa[1] != 0.0, row))
        data.append(row)
    
    dic = {"Z"+str(index): data}
    savemat(str(filename) +".mat", dic, oned_as='column')
    index += 1

10-47-45.yd
10-49-46.yd
10-59-30.yd
11-01-20.yd
11-02-50.yd
11-06-12.yd
11-06-51.yd
11-07-43.yd
11-08-41.yd

# Save data to mat file

In [1]:
import pickle
import os
from scipy.io import savemat

index = 0

basepath = "C:/Users/Asus/Desktop/Lab Experience/LIDAR_NEW/"
for filename in os.listdir(basepath):
    print(filename)
    file = open(basepath+filename, "rb")
    final_data = pickle.load(file)
    file.close()
    
    data = []
    for i in range(len(final_data)):
        row = []
        for j in range(len(final_data[i][0])):
            if 12 > final_data[i][1][j] > -12:
                row.append([final_data[i][0][j], final_data[i][1][j]])
        # filter distance 0
        row = list(filter(lambda xa: xa[1] != 0.0, row))
        data.append(row)
    
    dic = {"Z": data}
    savemat(str(filename).replace('.yd', '') + ".mat", dic, oned_as='column')
    index += 1

11-09-27.yd

D:\anaconda3\lib\site-packages\numpy\core\_asarray.py:171: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order, subok=True)

# GPS data

In [10]:
import pandas as pd
df = pd.read_csv ('swift-gnss-20220409-110943.csv')

In [11]:
df.head()

,GPS Week,GPS TOW [s],Pos Mode,INS Mode,Hdg Mode,SVs Tracked,SVs Used,UTC Date,UTC Time,Lat [deg],...,EHPE [m],EVPE [m],EHVE [m/s],EVVE [m/s],Baseline 2D [m],Baseline 3D [m],Corr. Age [s],Delta TOW [ms],2D Delta Pos [m],3D Delta Pos [m]
0,2204,551401.0,3,0,NaN,NaN,15,2022-04-09,09:09:43.000,45.478529,...,0.15,0.25,0.12,0.21,111.518,112.317,1.0,NaN,NaN,NaN
1,2204,551401.1,3,0,NaN,NaN,15,2022-04-09,09:09:43.100,45.478529,...,0.15,0.24,0.12,0.21,111.518,112.317,1.1,100.0,0.001,0.001
2,2204,551401.2,3,0,NaN,30.0,15,2022-04-09,09:09:43.200,45.478529,...,0.14,0.24,0.12,0.21,111.518,112.317,1.2,100.0,0.002,0.003
3,2204,551401.3,3,0,NaN,NaN,15,2022-04-09,09:09:43.300,45.478529,...,0.14,0.24,0.12,0.21,111.514,112.313,1.3,100.0,0.004,0.006
4,2204,551401.4,3,0,NaN,NaN,15,2022-04-09,09:09:43.400,45.478529,...,0.15,0.25,0.12,0.21,111.504,112.303,1.4,100.0,0.010,0.010

In [8]:

df.info

<bound method DataFrame.info of       GPS Week  GPS TOW [s]  Pos Mode  INS Mode  Hdg Mode  SVs Tracked  \
0         2204     551401.0         3         0       NaN          NaN
1         2204     551401.1         3         0       NaN          NaN
2         2204     551401.2         3         0       NaN         30.0
3         2204     551401.3         3         0       NaN          NaN
4         2204     551401.4         3         0       NaN          NaN
...        ...          ...       ...       ...       ...          ...
4021      2204     551803.1         3         0       NaN          NaN
4022      2204     551803.2         3         0       NaN         23.0
4023      2204     551803.3         3         0       NaN          NaN
4024      2204     551803.4         3         0       NaN          NaN
4025      2204     551803.5         3         0       NaN          NaN

      SVs Used    UTC Date      UTC Time  Lat [deg]  ...  EHPE [m]  EVPE [m]  \
0           15  2022-04-09  09:09:43.000  45.478529  ...      0.15      0.25
1           15  2022-04-09  09:09:43.100  45.478529  ...      0.15      0.24
2           15  2022-04-09  09:09:43.200  45.478529  ...      0.14      0.24
3           15  2022-04-09  09:09:43.300  45.478529  ...      0.14      0.24
4           15  2022-04-09  09:09:43.400  45.478529  ...      0.15      0.25
...        ...         ...           ...        ...  ...       ...       ...
4021        15  2022-04-09  09:16:25.100  45.478547  ...      0.63      1.03
4022        15  2022-04-09  09:16:25.200  45.478545  ...      0.63      1.03
4023        15  2022-04-09  09:16:25.300  45.478543  ...      0.52      0.85
4024        15  2022-04-09  09:16:25.400  45.478541  ...      0.54      0.81
4025        15  2022-04-09  09:16:25.500  45.478539  ...      0.51      0.76

      EHVE [m/s]  EVVE [m/s]  Baseline 2D [m]  Baseline 3D [m]  Corr. Age [s]  \
0           0.12        0.21          111.518          112.317            1.0
1           0.12        0.21          111.518          112.317            1.1
2           0.12        0.21          111.518          112.317            1.2
3           0.12        0.21          111.514          112.313            1.3
4           0.12        0.21          111.504          112.303            1.4
...          ...         ...              ...              ...            ...
4021        0.49        0.75          110.199          110.963           12.1
4022        0.48        0.75          110.339          111.105           12.2
4023        0.21        0.35          110.459          111.224           12.3
4024        0.21        0.35          110.556          111.313            0.4
4025        0.18        0.28              NaN              NaN            NaN

      Delta TOW [ms]  2D Delta Pos [m]  3D Delta Pos [m]
0                NaN               NaN               NaN
1              100.0             0.001             0.001
2              100.0             0.002             0.003
3              100.0             0.004             0.006
4              100.0             0.010             0.010
...              ...               ...               ...
4021           100.0             0.261             0.261
4022           100.0             0.246             0.247
4023           100.0             0.239             0.239
4024           100.0             0.224             0.232
4025           100.0             0.239             0.242

[4026 rows x 32 columns]>

In [13]:
df.columns

Index(['GPS Week', 'GPS TOW [s]', 'Pos Mode', 'INS Mode', 'Hdg Mode',
       'SVs Tracked', 'SVs Used', 'UTC Date', 'UTC Time', 'Lat [deg]',
       'Lon [deg]', 'Alt Ellips [m]', 'SOG [m/s]', 'COG [deg]', 'Hdg [deg]',
       'Horiz Vel [m/s]', 'Vert Vel [m/s]', 'Roll [deg]', 'Pitch [deg]',
       'Yaw [deg]', 'PDOP', 'HDOP', 'EHPE [m]', 'EVPE [m]', 'EHVE [m/s]',
       'EVVE [m/s]', 'Baseline 2D [m]', 'Baseline 3D [m]', 'Corr. Age [s]',
       'Delta TOW [ms]', '2D Delta Pos [m]', '3D Delta Pos [m]'],
      dtype='object')

In [15]:
print(df[['Lat [deg]', 'Lon [deg]', 'Hdg [deg]']])

      Lat [deg]  Lon [deg]  Hdg [deg]
0     45.478529   9.230557        NaN
1     45.478529   9.230557        NaN
2     45.478529   9.230557        NaN
3     45.478529   9.230557        NaN
4     45.478529   9.230558        NaN
...         ...        ...        ...
4021  45.478547   9.230573        NaN
4022  45.478545   9.230571        NaN
4023  45.478543   9.230570        NaN
4024  45.478541   9.230569        NaN
4025  45.478539   9.230568        NaN

[4026 rows x 3 columns]

In [18]:
df['Hdg [deg]'].isna().sum()

4026